# Logging
PROMETHEUS_LOGGING_LEVEL=DEBUG

# General settings
PROMETHEUS_ENVIRONMENT=local
PROMETHEUS_BACKEND_CORS_ORIGINS=["*"]
PROMETHEUS_ENABLE_AUTHENTICATION=false


# Neo4j settings
PROMETHEUS_NEO4J_URI=bolt://neo4j:7687
PROMETHEUS_NEO4J_USERNAME=neo4j
PROMETHEUS_NEO4J_PASSWORD=password
PROMETHEUS_NEO4J_BATCH_SIZE=1000

# Knowledge Graph settings
PROMETHEUS_WORKING_DIRECTORY=working_dir/
PROMETHEUS_KNOWLEDGE_GRAPH_MAX_AST_DEPTH=1
PROMETHEUS_KNOWLEDGE_GRAPH_CHUNK_SIZE=5000
PROMETHEUS_KNOWLEDGE_GRAPH_CHUNK_OVERLAP=500

# LLM model settings
PROMETHEUS_ADVANCED_MODEL=gpt-4o
PROMETHEUS_BASE_MODEL=gpt-4o

# API keys for various LLM providers
PROMETHEUS_ANTHROPIC_API_KEY=anthropic_api_key
PROMETHEUS_GEMINI_API_KEY=gemini_api_key
PROMETHEUS_OPENAI_FORMAT_BASE_URL=https://api.openai.com/v1
PROMETHEUS_OPENAI_FORMAT_API_KEY=your_api_key

# Model settings
PROMETHEUS_ADVANCED_MODEL_TEMPERATURE=0.5

PROMETHEUS_BASE_MODEL_TEMPERATURE=0.5

# Tavily API settings
PROMETHEUS_TAVILY_API_KEY=your_tavily_api_key

# GitHub App settings
GITHUB_APP_ID=your_github_app_id
GITHUB_WEBHOOK_SECRET=your_webhook_secret
GITHUB_PRIVATE_KEY=your_github_private_key_content
GITHUB_BOT_HANDLE=euni-bot
GITHUB_ORG_NAME=your_org_name

# Database settings
PROMETHEUS_DATABASE_URL=postgresql+asyncpg://postgres:password@postgres:5432/postgres

# JWT settings
PROMETHEUS_JWT_SECRET_KEY=your_jwt_secret_key

# Athena memory service settings
PROMETHEUS_ATHENA_BASE_URL=http://localhost:9003/v0.1.0
